@import "C:/Users/Dell/OneDrive/Desktop/pagewithsass/page1_withsass/abstracts_sass/_variables.scss";
.google {
  background-color: $background-color;
  border-radius: 8px;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  margin-top: 20px;
  border: 1px solid $border-color;
  color: $text-color;
  box-shadow: none;
}
