<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>

    <link rel="stylesheet" href="blogpage.css" />
  </head>
  <body>
    <header>
      <div class="nav container">
        <a href="#" class="logo">L<span>lGO</span></a>
      </div>
    </header>
    <section
      class="home parallax-home"
      id="home"
      style="
        background-image: url('https://wallpaperaccess.com/full/544405.jpg');
      "
    >
      <div class="home-text container">
        <h2 class="home-title">Sample Title</h2>

        <span class="home-subtitle">Which one do you wanna read?</span>
      </div>
    </section>

    <section class="post-content post-container">
      <h2 class="sub-heading">create something cool</h2>
      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis
        posuere lectus. Maecenas a congue ex. Sed interdum nibh eu sodales
        aliquet. Praesent sed risus sapien. Nunc magna augue, fermentum pretium
        vehicula eget, dapibus nec dui. Mauris risus quam, facilisis quis porta
        vel, consequat at lacus. Sed porttitor aliquet enim, in vehicula felis
        molestie vel. Donec porttitor risus eu congue ultrices. Nullam efficitur
        tortor leo, et lobortis leo suscipit sed. Quisque erat ante, auctor a
        nunc non, efficitur sagittis magna. Integer vel viverra erat. Cras eget
        neque in dolor faucibus ultrices sed eget magna. Nam mauris tortor,
        lacinia sit amet ullamcorper vel, posuere quis tortor. Nam consectetur
        nibh ut justo mollis efficitur. Sed imperdiet urna lacus, non aliquam
        dolor euismod tempus. Curabitur ultricies varius quam ut feugiat.
      </p>
      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis
        posuere lectus. Maecenas a congue ex. Sed interdum nibh eu sodales
        aliquet. Praesent sed risus sapien. Nunc magna augue, fermentum pretium
        vehicula eget, dapibus nec dui. Mauris risus quam, facilisis quis porta
        vel, consequat at lacus. Sed porttitor aliquet enim, in vehicula felis
        molestie vel. Donec porttitor risus eu congue ultrices. Nullam efficitur
        tortor leo, et lobortis leo suscipit sed. Quisque erat ante, auctor a
        nunc non, efficitur sagittis magna. Integer vel viverra erat. Cras eget
        neque in dolor faucibus ultrices sed eget magna. Nam mauris tortor,
        lacinia sit amet ullamcorper vel, posuere quis tortor. Nam consectetur
        nibh ut justo mollis efficitur. Sed imperdiet urna lacus, non aliquam
        dolor euismod tempus. Curabitur ultricies varius quam ut feugiat.
      </p>
      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis
        posuere lectus. Maecenas a congue ex. Sed interdum nibh eu sodales
        aliquet. Praesent sed risus sapien. Nunc magna augue, fermentum pretium
        vehicula eget, dapibus nec dui. Mauris risus quam, facilisis quis porta
        vel, consequat at lacus. Sed porttitor aliquet enim, in vehicula felis
        molestie vel. Donec porttitor risus eu congue ultrices. Nullam efficitur
        tortor leo, et lobortis leo suscipit sed. Quisque erat ante, auctor a
        nunc non, efficitur sagittis magna. Integer vel viverra erat. Cras eget
        neque in dolor faucibus ultrices sed eget magna. Nam mauris tortor,
        lacinia sit amet ullamcorper vel, posuere quis tortor. Nam consectetur
        nibh ut justo mollis efficitur. Sed imperdiet urna lacus, non aliquam
        dolor euismod tempus. Curabitur ultricies varius quam ut feugiat.
      </p>
    </section>
  </body>
</html>
