<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>

    <link rel="stylesheet" href="views\blogpage.css" />
  </head>
  <body>
    <header>
      <div class="nav container">
        <a href="#" class="logo">L<span>lGO</span></a>
      </div>
    </header>
    <section class="home parallax-home" id="home">
      <div class="home-text container">
        <h2 class="home-title">REVIEW SPOT</h2>

        <span class="home-subtitle">Which one do you wanna read?</span>
      </div>
    </section>

    <div class="post-filter container">
      <span class="filter-item active-filter" data-filter="all">All </span>
      <span class="filter-item" data-filter="design">design </span>
      <span class="filter-item" data-filter="tech">tech </span>
      <span class="filter-item" data-filter="mobile">mobile </span>
    </div>

    <section class="post container">
      <div class="post-box">
        <img
          src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\divine.png"
          alt="image1"
          class="post-img"
        />
        <span class="post-date">12th jan </span>
        <p class="post-description">
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem
          ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda
          lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum
          loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem
          ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem
          ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda
          lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum
          loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem
          ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem
          ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda
          lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum
          loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem
          ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum loda
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda
        </p>

        <div class="profile">
          <img
            src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\users.svg"
            alt=""
            class="profile-img"
          />
          <span class="profile-name">Aniruddh</span>
        </div>
      </div>
      <div class="post-box">
        <img
          src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\folklore.png"
          alt="image1"
          class="post-img"
        />
        <h2 class="category">Mobile</h2>
        <a href="post-page.html" class="post-title">
          How to create the best juices
        </a>

        <span class="post-date">12th jan </span>
        <p class="post-description">
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem
          ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda
          lsanlorem ipsum loda
        </p>

        <div class="profile">
          <img
            src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\users.svg"
            alt=""
            class="profile-img"
          />
          <span class="profile-name">Aniruddh</span>
        </div>
      </div>
      <div class="post-box">
        <img
          src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\enterthewu.png"
          alt="image1"
          class="post-img"
        />
        <h2 class="category">Mobile</h2>
        <a href="post-page.html" class="post-title">
          How to create the best juices
        </a>

        <span class="post-date">12th jan </span>
        <p class="post-description">
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem
          ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda
          lsanlorem ipsum loda
        </p>

        <div class="profile">
          <img
            src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\users.svg"
            alt=""
            class="profile-img"
          />
          <span class="profile-name">Aniruddh</span>
        </div>
      </div>
      <div class="post-box">
        <img
          src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\rangdebasanti.png"
          alt="image1"
          class="post-img"
        />
        <h2 class="category">Mobile</h2>
        <a href="post-page.html" class="post-title">
          How to create the best juices
        </a>

        <span class="post-date">12th jan </span>
        <p class="post-description">
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem
          ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda
          lsanlorem ipsum loda
        </p>

        <div class="profile">
          <img
            src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\users.svg"
            alt=""
            class="profile-img"
          />
          <span class="profile-name">Aniruddh</span>
        </div>
      </div>
      <div class="post-box">
        <img
          src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\illmatic.png"
          alt="image1"
          class="post-img"
        />
        <h2 class="category">Mobile</h2>
        <a href="post-page.html" class="post-title">
          How to create the best juices
        </a>

        <span class="post-date">12th jan </span>
        <p class="post-description">
          lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem ipsum
          loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda lsanlorem
          ipsum loda lorem ipsum loda lsanlorem ipsum loda lorem ipsum loda
          lsanlorem ipsum loda
        </p>

        <div class="profile">
          <img
            src="C:\Users\Dell\OneDrive\Desktop\writing_blog_project\dashboard\users.svg"
            alt=""
            class="profile-img"
          />
          <span class="profile-name">Aniruddh</span>
        </div>
      </div>
    </section>

    <script src="JQuery.js"></script>
  </body>
</html>
